body {
    background-color: #ffffff;
    color: #000000;
}

.btn_list {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin-left: 5px;
    margin-right: 5px;
    width: 200px;
    height: 40px;
}

.user_name {
    font-size: 20px;
    text-decoration: underline;
    color: #007bff;
}

.headline {
    font-size: 25px;
    font-style: italic;
    margin-bottom: 20px;
}