{% include "bs/base.html" %}
{% load static %}
{% block content %}
{% include "bs/nav_panel.html" %}

{% if user.is_authenticated %}
<main role="main" class="container">
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <span class="headline">Клиенты</span>
            </div>
            {% for client in clients %}
            <div class="row">
                <div class="col-lg-3">
                    <a class="nav-link" href="{% url 'client_data' client.id %}"><span class="user_name">{{client.full_name}}</span></a>
                </div>
                <a class="btn btn-secondary btn_list" id={{client.id}} href="{% url 'transfer' client.id %}"
                   role="button">Перевод</a>
                <a class="btn btn-secondary btn_list" id={{client.id}}
                   href="{% url 'replenishment' client.id %}" role="button">Пополнить счёт</a>
                <a class="btn btn-secondary btn_list" id={{client.id}} href="{% url 'removal' client.id %}"
                   role="button">Снять со счёта</a>
            </div>
            {% endfor %}
            <br>
            {% include "bs/paginator.html" %}
        </div>
        {% include "bs/right_menu.html" %}
    </div>
</main>
{% endif %}
{% endblock %}