{% if clients.has_other_pages %}
<div class="pagination">
    <span class="step-links pagination">
    {% if clients.has_previous %}
        <a href="?page={{ clients.previous_page_number }}"><button type="button" class="listing_btn"><</button></a>
    {% endif %}
    <span class="current">
        <button type="button" class="listing_btn"> Page {{ clients.number }} of {{ clients.paginator.num_pages }}.</button>
    </span>
    {% if clients.has_next %}
        <a href="?page={{ clients.next_page_number }}"><button type="button" class="listing_btn">></button></a>
    {% endif %}
    </span>
</div>
{% endif %}