{% include "bs/base.html" %}
{% load static %}
{% block content %}
{% include "bs/nav_panel.html" %}
<main role="main" class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="headline">Отчёты об операциях со счетами клиента</div>
            </div>
            <div class="row">
                <form>
                    <p><strong>Выбери номер счёта</strong></p>
                    <p><select name="hero">
                        <option value="s1">Чебурашка</option>
                        <option value="s2" selected>Крокодил Гена</option>
                        <option value="s3">Шапокляк</option>
                        <option value="s3" label="Лариса">Крыса Лариса</option>
                    </select>
                        <input type="submit" value="Отправить"></p>
                </form>
            </div>
        </div>
    </div>
</main>
{% endblock %}